html,
body {
  margin: 0;
}

.friend-list-container {
  display: flex;
  flex: 1;
  min-height: 100vh;
  background-color: rgb(1, 4, 26);
  flex-direction: column;
  align-items: center;
}

.friend-item-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  border-top: 1.5px solid lightgray;
}

.friend-item-box {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 1rem;
  background-color: rgb(1, 4, 26);
  color: white;
  align-items: stretch;
}
.friend-item-box:hover {
  background-color: rgb(21, 24, 46);
  border: 0;
}

.friend-avatar {
  display: flex;
  align-items: center;
}

.friend-name {
  display: flex;
  font-weight: bold;
  flex: 0 0 30%;
  font-size: 1.5rem;
  align-items: center;
  padding-left: 1rem;
  overflow-wrap: break-word;
}

.friend-avatar-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.friend-action-buttons {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
}

.invite-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
}
.invite-button:hover {
  background-color: #45a049;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f;
  cursor: pointer;
}

.friend-status-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.friend-status-indicator-online {
  width: 1rem;
  height: 1rem;
  background-color: green;
  border-radius: 50%;
}
.friend-status-indicator-offline {
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 50%;
}
