html,
body {
  height: 100%;
  margin: 0;
  overflow: scroll;
}

.homePage-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: auto;
  flex-direction: row;
}

.login-icon-box {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 12px;
  background-color: lightgray;
}
