body,
html {
  height: 100%;
  margin: 0;
  background-color: lightgrey;
}

body {
  overflow: scroll;
}

.memberPage-container {
  display: grid;
  height: 100%;
  grid-template-areas:
    "navbar"
    "memberRoomAction";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}
.memberPage-navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 2;
  align-items: center;
  background: #2e10ce;
  background: -moz-linear-gradient(left, #2e10ce 0%, #1c6ea4 50%, #fb07fa 100%);
  background: -webkit-linear-gradient(
    left,
    #2e10ce 0%,
    #1c6ea4 50%,
    #fb07fa 100%
  );
  background: linear-gradient(to right, #2e10ce 0%, #1c6ea4 50%, #fb07fa 100%);
}
.memberPage-title {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
.member-info-button {
  display: flex;
  height: 70%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
  border-radius: 15px;
}
.member-room-action-container {
  grid-area: memberRoomAction;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.create-room-container,
.join-room-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.create-room-box,
.join-room-box {
  display: flex;
  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
  width: 60%;
  flex-direction: column;
  padding: 1rem;
}
.create-room-input-group,
.join-room-input-group {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
}
.create-room-button-group,
.join-room-button-group {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.create-room-button,
.join-room-button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 0;
}
.create-room-button:hover,
.join-room-button:hover {
  cursor: pointer;
  background-color: lightblue;
}

.member-invite-page-container,
.member-action-page-container {
  display: none;
  flex: 1;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.6);
  grid-row: 2/3;
  grid-column: 1/2;
  z-index: 1;
}

.member-action-page-container {
  overflow: hidden;
}

.member-invite-page-box,
.member-action-page-box {
  position: relative;
  display: flex;
  width: 30%;
  color: white;
  border-radius: 12px;
  background-color: black;
  border: 4px solid #1c6ea4;
  border-radius: 22px 0px 0px 22px;
  flex-direction: column;
  height: 100%;
}

.member-invite-page-title,
.member-action-page-title {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid darkblue;
  margin: 0;
  padding: 1rem;
  font-size: 24px;
}
.member-action-page-id {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5rem;
  font-size: 18px;
}
.add-friend-button-container,
.logout-button-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  flex: 1;
  align-items: flex-end;
  padding-bottom: 1rem;
}

.member-action-page-button {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 8px;
}

.member-action-page-button:hover {
  cursor: pointer;
  background-color: lightblue;
}

.source-member-info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.source-member-info-box {
  display: flex;
  flex-direction: column;
  background-color: darkgray;
  border-radius: 12px;
  color: black;
  padding: 0.5rem;
}

.source-member-info-box:hover {
  cursor: pointer;
  border: 2px solid gold;
}

.invite-response-button-group {
  display: flex;
  justify-content: space-around;
}

.invite-accept-button,
.invite-decline-button {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 8px;
}
.invite-accept-button:hover {
  cursor: pointer;
  background-color: lightgreen;
}
.invite-decline-button:hover {
  cursor: pointer;
  background-color: lightcoral;
}

.source-member-name {
  margin: 0;
  padding: 1rem 0.5rem 1rem 0.5rem;
}
.source-member-room-id {
  margin: 0;
  padding: 0.5rem;
}

.member-friend-container {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  background-color: darkcyan;
  border-radius: 12px;
  gap: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
}

#friend-management-title {
  text-align: center;
  margin: 0;
  padding: 1rem;
  border-bottom: 2px solid darkblue;
}

.member-friend-box-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.member-friend-box {
  display: flex;
  flex-direction: row;
  width: 90%;
  background-color: darkgray;
  border: 2px solid black;
  color: black;
  border-radius: 5px;
  padding: 0.5rem;
}

.member-friend-name {
  margin: 0;
  padding: 0.5rem;
}

.member-friend-button-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.member-friend-remove-button {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 8px;
}
.member-friend-remove-button:hover {
  cursor: pointer;
  background-color: lightcoral;
}

.add-friend-menu-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  grid-row: 2/3;
  grid-column: 1/2;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.add-friend-menu-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  border: 2px solid #1c6ea4;
  padding: 1rem;
}

.add-friend-menu-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-friend-menu-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 1rem;
}

.add-friend-menu-button {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 8px;
}

.add-friend-menu-button:hover {
  cursor: pointer;
  background-color: lightblue;
}
