html,
body {
  min-height: 100%;
  margin: 0;
  overflow-y: auto;
}

.member-list-container {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  background-color: gray;
  gap: 0.5rem;
  padding: 1rem 0 1rem 0;
}

.member-list-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
  gap: 0.5rem;
}

.member-avatar {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* prevent image from escaping the box */
  aspect-ratio: 16/9;
}

.member-avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-name {
  display: flex;
  align-items: center;
  font-size: 20px;
}
