html,
body {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.member-list-container {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
  background-color: rgb(1, 4, 26);
  padding: 1rem 0 1rem 0;
}

.member-list-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: rgb(1, 4, 26);
  color: white;
  border-top: 1.5px solid rgba(211, 211, 211, 0.137);
  padding: 0.5rem;
  gap: 2rem;
}
.member-list-box:hover {
  background-color: rgb(21, 24, 46);
  border-radius: 12px;
  border: 0;
}

.member-avatar {
  flex: 0 0 30%;
  max-width: 4rem;
  max-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* prevent image from escaping the box */
  border-radius: 50%;
  aspect-ratio: 16/9;
}

.member-avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-name {
  display: flex;
  max-width: 70%;
  align-items: center;
  font-size: 20px;
  overflow-wrap: break-word;
}
