body,
html {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  background-color: gray;
}

.video-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.video-item {
  flex: 1;
  display: flex;
}

.default-screen {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.default-screen-box {
  display: none;
  width: 100%;
  height: 100%;
  background-color: silver;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.default-screen-text {
  font-size: 40px;
  margin: 0;
}
