body,
html {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  background-color: gray;
  overflow: hidden;
}

.video-container {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
}

#player {
  width: 100%;
  height: 100%;
  border: none;
}

.default-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.default-screen-box {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: silver;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.default-screen-text {
  font-size: 40px;
  margin: 0;
  color: #333;
}
